In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
import pickle

In [65]:
# Load dataset
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [66]:
# Preprocessing the data
# Drop unnecessary columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [67]:
# Encode categorical variables
lable_encoder_gender = LabelEncoder() # Creating instance of label encoder and assigning to a variable
data['Gender']= lable_encoder_gender.fit_transform(data['Gender']) # This is Technique to convert categorical data to numerical
data # This is to check the encoding

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [68]:
# ONE HOT ENCODING for Geography column
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder() # Creating object of OneHotEncoder
geography_encoded = onehotencoder.fit_transform(data[['Geography']]).toarray() # Fit and transform the Geography column
geography_df = pd.DataFrame(geography_encoded, columns=onehotencoder.get_feature_names_out(['Geography'])) # Convert the array to DataFrame
data = pd.concat([data, geography_df], axis=1) # Concatenate the new one hot encoded columns to the original data
data = data.drop(['Geography'], axis=1) # Drop the original Geography column
data # Check the data after one hot encoding

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [69]:
# Save the Encoders and scalars for future use
with open('lable_encoder_gender.pkl', 'wb') as file:
    pickle.dump(lable_encoder_gender, file)

with open('onehotencoder.pkl', 'wb') as file:
    pickle.dump(onehotencoder, file)

In [70]:
# Divide dataset into Independent and Dependent features
X = data.drop('Exited', axis=1) # Independent features
y = data['Exited'] # Dependent feature
# Split the dataset into Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) # 80% training and 20% testing

# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [71]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [72]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [73]:
# Save ths Scaler for future use
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [74]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [75]:
# ANN Implementation

In [76]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime 

"""
Simple Explanation :

TensorFlow â†’ A famous machine learning library.

Sequential â†’ Helps you build a neural network layer-by-layer.

Dense â†’ A fully connected layer (every neuron connected to the next).

EarlyStopping â†’ Stops training automatically when the model stops improving (prevents overfitting).

datetime â†’ Just for handling date and time.

"""

'\nSimple Explanation :\n\nTensorFlow â†’ A famous machine learning library.\n\nSequential â†’ Helps you build a neural network layer-by-layer.\n\nDense â†’ A fully connected layer (every neuron connected to the next).\n\nEarlyStopping â†’ Stops training automatically when the model stops improving (prevents overfitting).\n\ndatetime â†’ Just for handling date and time.\n\n'

In [77]:
# Build our ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # Input layer and first hidden layer
    Dense(32, activation='relu'), # Second hidden layer
    Dense(1, activation='sigmoid') # Output layer
])


"""
ðŸ”¹ model = Sequential([...])

This means:
------> Create a neural network by adding layers one after another.

Simple meaning:
Layer 1: Input + First Hidden Layer
---> Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # Input layer and first hidden layer

Dense(64) â†’ This layer has 64 neurons.

activation='relu' â†’ Helps the network learn complex patterns.

input_shape=(x_train.shape[1],) â†’

Number of input features (columns in your training data).

Example: If your dataset has 12 columns â†’ input shape = 12.

So this is the starting layer that receives your training data.

ðŸ”¹ Layer 2: Second Hidden Layer
---> Dense(32, activation='relu'), # Second hidden layer
This layer has 32 neurons and also uses ReLU activation to learn more patterns and this layer Helps the model learn deeper patterns..

ðŸ”¹ Layer 3: Output Layer
---> Dense(1, activation='sigmoid') # Output layer
This layer has 1 neuron (for binary classification) and uses sigmoid activation to output a probability between 0 and 1.
Meaning:

Output has 1 neuron (because you are predicting 0/1 â€” binary classification).

Sigmoid activation gives values between 0 and 1 â†’ useful for binary output.

"""

c:\Users\USER\Desktop\ANN\meenv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

"\nðŸ”¹ model = Sequential([...])\n\nThis means:\n------> Create a neural network by adding layers one after another.\n\nSimple meaning:\nLayer 1: Input + First Hidden Layer\n---> Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # Input layer and first hidden layer\n\nDense(64) â†’ This layer has 64 neurons.\n\nactivation='relu' â†’ Helps the network learn complex patterns.\n\ninput_shape=(x_train.shape[1],) â†’\n\nNumber of input features (columns in your training data).\n\nExample: If your dataset has 12 columns â†’ input shape = 12.\n\nSo this is the starting layer that receives your training data.\n\nðŸ”¹ Layer 2: Second Hidden Layer\n---> Dense(32, activation='relu'), # Second hidden layer\nThis layer has 32 neurons and also uses ReLU activation to learn more patterns and this layer Helps the model learn deeper patterns..\n\nðŸ”¹ Layer 3: Output Layer\n---> Dense(1, activation='sigmoid') # Output layer\nThis layer has 1 neuron (for binary classification) and uses sigmoid activation to output a probability between 0 and 1.\nMeaning:\n\nOutput has 1 neuron (because you are predicting 0/1 â€” binary classification).\n\nSigmoid activation gives values between 0 and 1 â†’ useful for binary output.\n\n"

In [78]:
X_train.shape[1]

12

In [79]:
model.summary()

Model: "sequential_2"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_6 (Dense)                 â”‚ (None, 64)             â”‚           832 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_7 (Dense)                 â”‚ (None, 32)             â”‚         2,080 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_8 (Dense)                 â”‚ (None, 1)              â”‚            33 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [80]:
# Compile the model
import tensorflow
optimizer = tensorflow.keras.optimizers.Adam(learning_rate=0.001) # Adam optimizer with a learning rate of 0.001 and This learning rate helps control how much to change the model in response to the estimated error each time the model weights are updated.
loss = tensorflow.keras.losses.BinaryCrossentropy() # Binary cross-entropy loss function, commonly used for binary classification tasks and It compares predicted probability (0â€“1) with actual result. BinaryCrossentropy is the correct loss function for this type.
model.compile(optimizer=optimizer, loss=loss, metrics=['accuracy']) # Compiling the model with the specified optimizer, loss function, and evaluation metric and 

# metrics=['accuracy']

#Accuracy tells you:

#â€œOut of 100 predictions, how many did the model get correct?â€

In [87]:
# Setup TensorBoard callback
from tensorflow.keras.callbacks import TensorBoard , EarlyStopping
log_dir = "logs/fit/20251212-094339/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# This code prepares TensorBoard so you can WATCH your model learning visually.

# TensorBoard â†’ Used to record training logs and create visual graphs(in simple words, it helps you see how your model is learning over time).

# EarlyStopping â†’ Stops training early if the model stops improving (prevents overfitting).
"""
âœ… What This Code Does

This code sets up TensorBoard, a tool that helps you see how your model is learning.

TensorBoard shows graphs like:

-- Loss decreasing

-- Accuracy increasing

-- How weights change over time

-- How long training takes

-- Comparisons between runs

It makes your training process visual, not just numbers.

-------------------------------------------------------------------------------------------------------------------------------------

2ï¸.Creating a Log Directory

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

Simple Meaning:

You are creating a folder name to store TensorBoard logs.

"logs/fit/" â†’ This is the main folder where logs will be saved.

datetime.datetime.now() â†’ Gets the current date and time.

.strftime("%Y%m%d-%H%M%S") â†’ Converts date-time to a readable format like:

2025-12-11-10:24:30

Why do this?

Because every time you train your model, you want a unique folder so logs do not mix.

Example final folder name might become:

logs/fit/20251211-102430

------------------------------------------------------------------------------------------------------

3ï¸ .Create TensorBoard Callback
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

Explanation:
âœ” TensorBoard(...)

This creates a TensorBoard object that records training data.

âœ” log_dir=log_dir

Tells TensorBoard where to save the training logs.

âœ” histogram_freq=1

This means:

Every 1 epoch, TensorBoard will record weight histograms.

A histogram shows how weights and biases change during learning.

This is useful for understanding if the model is learning properly.

------------------------------------------------------------------------------------------------------

ðŸ–¥ï¸ How to Open TensorBoard (Important)

In a notebook or terminal, run:

tensorboard --logdir logs/fit


Then open the link it gives you (usually http://localhost:6006 )
).

"""

'\nâœ… What This Code Does\n\nThis code sets up TensorBoard, a tool that helps you see how your model is learning.\n\nTensorBoard shows graphs like:\n\n-- Loss decreasing\n\n-- Accuracy increasing\n\n-- How weights change over time\n\n-- How long training takes\n\n-- Comparisons between runs\n\nIt makes your training process visual, not just numbers.\n\n-------------------------------------------------------------------------------------------------------------------------------------\n\n2ï¸.Creating a Log Directory\n\nlog_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")\n\nSimple Meaning:\n\nYou are creating a folder name to store TensorBoard logs.\n\n"logs/fit/" â†’ This is the main folder where logs will be saved.\n\ndatetime.datetime.now() â†’ Gets the current date and time.\n\n.strftime("%Y%m%d-%H%M%S") â†’ Converts date-time to a readable format like:\n\n2025-12-11-10:24:30\n\nWhy do this?\n\nBecause every time you train your model, you want a unique folder so logs do not mix.\n\nExample final folder name might become:\n\nlogs/fit/20251211-102430\n\n------------------------------------------------------------------------------------------------------\n\n3ï¸ .Create TensorBoard Callback\ntensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)\n\nExplanation:\nâœ” TensorBoard(...)\n\nThis creates a TensorBoard object that records training data.\n\nâœ” log_dir=log_dir\n\nTells TensorBoard where to save the training logs.\n\nâœ” histogram_freq=1\n\nThis means:\n\nEvery 1 epoch, TensorBoard will record weight histograms.\n\nA histogram shows how weights and biases change during learning.\n\nThis is useful for understanding if the model is learning properly.\n\n------------------------------------------------------------------------------------------------------\n\nðŸ–¥ï¸ How to Open TensorBoard (Important)\n\nIn a notebook or terminal, run:\n\ntensorboard --logdir logs/fit\n\n\nThen open the link it gives you (usually http://localhost:6006 )\n).\n\n'

In [82]:
# Setup EarlyStopping callback
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

"""
EarlyStopping is a tool that automatically stops training when your model stops improving.

Why?
ðŸ‘‰ To prevent overfitting and save training time. 

"""

'\nEarlyStopping is a tool that automatically stops training when your model stops improving.\n\nWhy?\nðŸ‘‰ To prevent overfitting and save training time. \n\n'

In [83]:
# Train the model
history = model.fit(X_train, y_train, 
                    validation_data=(X_test, y_test), epochs=100,
                    callbacks=[early_stopping_callback, tensorboard_callback]
                    )

Epoch 1/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8060 - loss: 0.4571 - val_accuracy: 0.8365 - val_loss: 0.3934
Epoch 2/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8391 - loss: 0.3868 - val_accuracy: 0.8555 - val_loss: 0.3543
Epoch 3/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8546 - loss: 0.3540 - val_accuracy: 0.8615 - val_loss: 0.3399
Epoch 4/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8579 - loss: 0.3423 - val_accuracy: 0.8565 - val_loss: 0.3424
Epoch 5/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8614 - loss: 0.3376 - val_accuracy: 0.8560 - val_loss: 0.3415
Epoch 6/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8620 - loss: 0.3339 - val_accuracy: 0.8640 - val_loss: 0.3419
Epoch 7/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8650 - loss: 0.3320 - val_accuracy: 0.8630 - val_loss: 0.3371
Epoch 8/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8631 - loss: 0.3278 - val_accuracy: 0.8580 - val_loss: 0.3436
Epoch 9/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8640 - loss: 0.3278 - val_accuracy: 0.8595 - val_loss: 0.3389
Epoch 10/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8660 - loss: 0.3255 - val_accuracy: 0.8650 - val_loss: 0.3392
Epoch 11/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8659 - loss: 0.3236 - val_accuracy: 0.8635 - val_loss: 0.3369
Epoch 12/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8655 - loss: 0.3214 - val_accuracy: 0.8665 - val_loss: 0.3330
Epoch 13/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8677 - loss: 0.3204 - val_accuracy: 0.8620 - val_loss: 0.3386
Epoch 14/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8669 - loss: 0.3178 - val_accuracy: 0.8620 - val_loss: 0.3422
Epoch 15/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8695 - loss: 0.3167 - val_accuracy: 0.8650 - val_loss: 0.3383
Epoch 16/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8701 - loss: 0.3161 - val_accuracy: 0.8650 - val_loss: 0.3365
Epoch 17/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8684 - loss: 0.3151 - val_accuracy: 0.8635 - val_loss: 0.3360
Epoch 18/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8684 - loss: 0.3141 - val_accuracy: 0.8640 - val_loss: 0.3366
Epoch 19/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.8725 - loss: 0.3106 - val_accuracy: 0.8645 - val_loss: 0.3402
Epoch 20/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8698 - loss: 0.3093 - val_accuracy: 0.8625 - val_loss: 0.3452
Epoch 21/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8705 - loss: 0.3094 - val_accuracy: 0.8585 - val_loss: 0.3428
Epoch 22/100
250/250 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.8730 - loss: 0.3064 - val_accuracy: 0.8570 - val_loss: 0.3436

In [84]:
# Save the trained model
model.save("model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [85]:
# Load tensorBoard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [88]:
%tensorboard --logdir logs/20251212-094339

Reusing TensorBoard on port 6007 (pid 14740), started 0:06:14 ago. (Use '!kill 14740' to kill it.)